<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body class="list-group" ng-controller="TutsController as tuts">
  
    <header>
      <h1 class="text-center">Tutorials</h1>
      <h2 class="text-center">– an Angular application –</h2>
    </header>
	
	<style>
	div img{
		width: 125px;
		height: 125px;
	}
	</style>
	
	<div class="container-fluid">
	
		<nav>
	       <ul class="nav nav-pills pull-right">
			<li>Search: <input ng-model="query"> </li>
			<li>
			Sort By:
			<select ng-model="orderProp">
				<option value="title">Alphabetical by Title</option>
				<option value="author">Alphabetical by Author</option>		
			</select>
			</li>
          </ul>
        </nav>
		
		<div class="row">
			<div class="col-md-10">			
				<ul class="list-unstyled">
					<li ng-repeat="tutorial in tuts.tutorials | filter:query | orderBy: orderProp">
						<h3>
							{{tutorial.title}}
						</h3>
							<a href="{{tutorial.url}}" target="_blank">{{tutorial.url}}</a> <br>
							<img src="{{tutorial.image}}"><br>
							<h6>-{{tutorial.author}}</h6>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
  </body>
</html>
